infinite {
  url = http://api.ikanow.com/api/knowledge/document/query/
  communityId = 503663b1e4b0bb23272794b4
  apikey = asdfasdfasdfasdfasdfasdf
}
neo4j {
  host = localhost
  path = /data/db
  port = 7474
}
